*.pyc
*.vtu
*.npy
*.png
*.msh
*.pkl
*.log
build/
*.egg-info/
dist/
_build/
play_ground/
flax_state/
*-py-env
*py-env
*.zarr
py-env*
.venv
requirements.txt
nn_output*
nn_output*/
docs/
examples/Transfer_learn_nin_2D_3D_FNO_TL/iFOL_PARAMETRIC_2D_Fourier/
examples/Transfer_learn_nin_2D_3D_FNO_TL/PHASE_0_PARAMETRIC_2D_Fourier_strain_25/
examples/Transfer_learn_nin_2D_3D_FNO_TL.backup/
